
<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <div class="container">
        <a class="navbar-brand" href="#">Hoc lap trinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </div>

        <div class="dropdown show">
            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Tai khoan</a>
                <a class="dropdown-item" href="/courses/myCourses">Khoa hoc cua toi</a>
                <a class="dropdown-item" href="/courses/create">Them khoa hoc</a>
                <a class="dropdown-item" href="/login">Dang xuat</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h3>Chinh sua khoa hoc</h3>
    <form method="post" action="/courses/myCourses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="">Ten khoa hoc</label>
            <input type="text"  class="form-control" value ="{{course.name}}" name = "name">
        </div>

        <div class="form-group">
            <label for="">Mo ta</label>
            <input type="text" class="form-control" value ="{{course.description}}" name ="description">
        </div>

        <div class="form-group">
            <label for="">VideoId</label>
            <input type="text"  class="form-control" value ="{{course.videoId}}" name ="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Xac nhan thay doi</button>
    </form>
</div>

