<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <div class="container">
        <a class="navbar-brand" href="#">Hoc lap trinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
        </div>

        <div class="dropdown show">
            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Action
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Tài khoản</a>
                <a class="dropdown-item" href="/account/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</nav>

<div class="container account mt-4">
    <div class="content container">
        <div class="content-header mt-4">
            <h4 style="text-align:center">Thông tin của bạn</h4>
        </div>
        <div class="content-body mt-4">

            {{#if user}}
                <img src= "{{avatar}}" class="rounded-circle avatar" alt="avatar">
                {{else}}
                <img src= "https://www.nhatbanaz.com/wp-content/uploads/3322_pixta_30838512_L-310x205.jpg" class="rounded-circle avatar" alt="natural">
            {{/if}}
            
            <div class="basic-info mt-4">
                <div class = "user-name">
                    <p><i class="fas fa-user-circle"></i>
                        <strong>User name: </strong> {{user.username}}
                    </p>
                </div>
                <div class = "gender">
                    <p>
                        <i class="fas fa-venus-mars"></i>
                        <strong>Gender : </strong> 
                    </p>
                </div>
                <div class = "dateofbirth">
                    <p>
                        <i class="fas fa-birthday-cake"></i>
                        <strong>Date of Birth : </strong> 
                    </p>
                </div>
                <div class = "address">
                    <p>
                        <i class="fas fa-address-card"></i>
                        <strong>Address : </strong> 
                    </p>
                </div>
                <div class = "email">
                    <p>
                        <i class="fas fa-envelope"></i>
                        <strong>Email : </strong> 
                    </p>
                </div>
            </div>
            <a href = "updateProfile" class = "mt-4">
                <button type="button" class="btn btn-primary">Chỉnh sửa thông tin</button>
            </a>
        </div>
    </div>
</div>