
<nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto">
    <div class="container">
        <a class="navbar-brand" href="#">Hoc lap trinh</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Getting Started <span class="sr-only">(current)</span></a>
            </li>
        </div>

        <a href="login">
            <button type="button" class="btn btn-info" >Đăng nhập</button>
        </a>
    </div>
</nav>

<div class="container mt-4">
    <h3>Đăng ký</h3>
    <form id="form" method="post">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control email" id="email" required >
            <button type="button" class="btn btn-primary" id="btn-send" required >Gửi mã</button>
        </div> 
        <div class="form-group">
            <label for="content">Enter your code here</label>
            <input class="form-control content" id="code-input" rows="2">
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="btn-check">Kiểm tra</button>
</div>


<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <p>Đăng ký thất bại, vui lòng kiểm tra lại email hoặc code của bạn.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
      
    </div>
</div>

<form id="verifyAccount" method="post"></form>

<script >
    document.addEventListener("DOMContentLoaded", function() {
        const receiver = document.querySelector('#email');
        const btnCheck = document.querySelector('#btn-check');
        var code ;
        function sendMail(){
            Email.send({
                SecureToken : "1a86f291-8668-44b0-97f7-0c1e511f8524",
                // password to create secureToken: D058E92B98DA65D960EDA0E9C8985B7CD971
                // To : '',
                To : receiver.value,
                From : "xacthucmail123@gmail.com",
                Subject : "Use this code to sign-up",
                Body : code
            }).then(
                () => alert("Vui long kiem tra email cua ban ")
            );
        }

        const form = document.querySelector('#form');
        const btnSend = document.querySelector('#btn-send');
        const checkBtn = document.querySelector('#btn-check');
        var codeInput = document.querySelector('#code-input');
        const checkForm = document.querySelector('#verifyAccount');

        btnSend.onclick = function(e){
            code = Math.floor(Math.random() * 1000001);
            sendMail();
        }

        checkBtn.onclick = function(e){
            const s = receiver.value.indexOf('@');
            var tk = '';
            for(let i = 0; i < s; i++){
                tk += receiver.value[i];
            }
            if(code == codeInput.value ){
                form.action= `sign-up/${tk}`;
                form.submit();
            }
            else {
                $("#modal").modal("show");
                btnCheck.value = "";
            }
        }
    })


</script>