
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
.default-img {
    width: 100%;
    height: 230px;
}


.form-login {
    background-color: #2AD4D4;
    width: 100%;
    height: 90vh;
}

.form {
    display: flex;
    justify-content: center;
    border: 1px ridge #000;
    background-color: #fff;
    max-width: 360px;
    height: 60vh;
}

h3 {
    text-align: center;
}

.icon {
    margin:0 12px 0 0;
    font-size: 24px;
}

.btn-login {
    max-width: 254px;
    height: 44px;
}

.form-login{
    background: linear-gradient(120deg, #1a2a6c, #b21f1f, #fdbb2d);
}

.gg {
    width: 100%;
    margin-bottom: 24px;
    background-color:#eee;
}


.account {
    display: flex;
    height: 88vh;
    width: 100%;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
    justify-content: center;
    align-items: center;
}

.content {
    width: 400px;
    height: 600px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.content-update {
    width: 500px;
    height: 600px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.content-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 160px;
    height: 160px;
}

.content-body-update{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.form-update {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.input-update {
    width: 70%;
}

.video-course {
    width: 100%;
}

.video-course iframe{
    width: 90%;
    height: 75vh;
}

.comment-area {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 15px;
}

.img-small{
    width: 40px;
    height: 40px;
    border-radius:50%;
    margin-right: 10px;
}

.comment-content{
    width: 80%;
    height: 500px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
    width: 5px;
}

/* ::-webkit-scrollbar-thumb:hover{
    background: #00c6ff;
} */


.wrapper {
    width: 100%;
    background : #fff;
    border-radius: 5px;
    height: 100%;
}

.wrapper .comment{
    width: 80%;
    border-radius: 5px;
    outline: none;
    resize: none;
    line-height: 1.5;
    border-color: #bfbfbf;
    margin-top:8px;
    max-height: 330px;
    padding: 10px 20px 0 10px;
    height: 50px;
}

.comment:is(:focus){
    border-width: 2px;
    border-color: #4671EA;
}


.comment::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


.comment-element {
    display:flex;
    justify-content: content-start;
    margin-top:8px;
}

.comment-content_text{
    background-color: #f2f3f5;
    border-radius: 10px;
}

.comment-content_text_wrapper{
    padding: 0 10px 0 10px;
    display:inline-block;
    width: 100%;
}

.comment-content_author_name{
    padding-top: 6px;
}


.comment-content_reaction{
    width: 100%;
    background: #fff;
}

.reaction{
    padding:0 15px 10px 15px;
    font-size: 18px;
}

.reaction:hover{
    cursor: pointer;
}

.primary-color{
    color: #4671EA;
}

.comment-content_text_content p {
    margin:0 0 5px 0;
    max-width: 600px;
}

.max-lines {
    overflow: hidden;
    word-wrap: break-word;
}

.comment-element_delete {
    margin:16px;
    cursor: pointer;
}

.comment-element_delete i{
    font-size:18px;
}













